@using WebApplication.Models
@model WebApplication.Models.Posts
<div id="elmApp">
     <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a asp-controller="Home" asp-action="Index" class="navbar-brand">Jacob Scearcy</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a id="home-btn" href="#">Home</a></li>
                    <li><a class="pull-right" id="login-btn" href="#Login">Login</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <section class="row row-centered">
            <div>
            @foreach (Post post in Model.All) 
            {
                <a href="#@(post.LinkUrl)">
                    <div class="col-md-3 col-sm-2 col-centered blog-container" style="background-image: url('@(post.ImgUrl)');">
                        <div class="blog-header">
                            @post.PostTitle @(string.Join("-", post.EditDate.ToString().Split(' ')[0].Split('/')))
                        </div>
                    </div>
                </a>
            }
            </div>
        </section>
        <hr />
        <footer>
            <p>&copy; 2017 - Jacob Scearcy</p>
        </footer>
    </div>
</div>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
    var app = Elm.Main.embed(document.getElementById('elmApp'));
    
    document.getElementById("elmApp").addEventListener("keydown", function (e) {
        if (e.target.id === "post-area" && e.keyCode === 9) {
            e.preventDefault();
            var start = e.target.selectionStart,
                end = e.target.selectionEnd;

            window.tabObject = e;
            e.target.value = e.target.value.substring(0, start) + "    " + e.target.value.substring(end);
            e.target.setSelectionRange(start + 4, end + 4);
        }
    });
</script>
<script src="~/js/createPost.js" asp-append-version="true"></script>