<div id="elmApp">
</div>
<script src="~/assets/highlight.js" asp-append-version="true"></script>
<script src="~/js/post.js" asp-append-version="true"></script>
<script>
    Elm.CreatePost.embed(document.getElementById('elmApp'));
</script>