<div id="elmApp">
</div>
<link href="~/assets/gruvbox-dark.css" rel="stylesheet" />
<script src="~/assets/highlight.pack.js" asp-append-version="true"></script>
<script src="~/js/post.js" asp-append-version="true"></script>
<script>
    Elm.CreatePost.embed(document.getElementById('elmApp'));
    document.getElementById("elmApp").addEventListener("keydown", function (e) {
        if (e.target.id === "post-area" && e.keyCode === 9) {
            e.preventDefault();
            var start = e.target.selectionStart,
                end = e.target.selectionEnd;

            window.tabObject = e;
            e.target.value = e.target.value.substring(0, start) + "    " + e.target.value.substring(end);
            e.target.setSelectionRange(start + 4, end + 4);
            console.log(e.target.selectionStart, start);
        }
    });
</script>